/*Datos generales*/
:root {
    /*Folores*/
	--blue: #0A3871;
    --darkBlue: #072B61;
	--grey: #495057;
	--greyDark: #343A40;
	--lightBlue: #F3F5FC;
	--2lightBlue: #D8DFE8;
    --white: #FFFFFF;

    /*Fuente*/
    --fuentePrincipal: 'Inter', sans-serif;

}

body {
    background: var(--lightBlue);
    font-family: var(--fuentePrincipal);
}




/*Header*/
#header {
    margin: 40px 0px 0px 40px;
    /*border: 1px solid red;*/
    width: 40px;
    height: 48px;
    position: fixed;   
}

/*responsive Header*/
@media (max-width: 768px) {
    #header {
        margin: 40px 0px 0px 20px;
        position: relative;
        
    }
}




/*Main*/
#contenedor_total {
    /*width: 1440px;*/
    width: 100%;
    /*heigth: 1024px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;*/
    
    /*División de pantalla*/
    display: grid;
    /*una zona 70% y otra 30%*/
    grid: 70% 30% / 70% 30%;
    
}
/*responsive Main*/
@media (max-width: 768px) {
    #contenedor_total {
        display: block;
        width: 100%;
        /*grid-template-columns: 85%;
        grid-template-rows: 70% 10% 20%;*/
    }
}
@media (max-width: 390px) {
    #contenedor_total{
        display: block;
    }
}


/*Contenedor izquierdo*/
#contenedor_left {
    display: grid;
    grid-template-rows: 85% 15%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 20% 2% 0px 30%;
    
}
/*Responsive contenedor izquierdo*/
@media (max-width: 768px) {
    #contenedor_left {
        margin: 0;
        display: block;
        /*display: grid;
        grid-template-rows: auto 13%;
        grid-row: 1 / 3;*/
    }
}


/*Contenedor del textarea*/
.texto-inicial { 
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*margin: 168px 45px 0px 240px;*/
}
/*Responsive contenedor del textarea*/
@media (max-width: 768px) {
    .texto-inicial {
        margin: 16.5% 2% 0% 2%;
        display: block;
    }
}



/*Textarea dentro del contenido izquierdo*/
.texto {
    width: 98%;
    /*border: 1px solid green;*/
    height: auto;
    resize: none;
    font-family: var(--fuentePrincipal);
    color: var(--blue);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*Responsive textarea*/
@media (max-width: 768px) {
    .texto {
        /*width:100%;
        font-size: 80px;*/
    }
}

.texto::placeholder {
    color: var(--blue);    
}


.texto:focus{
    outline:none;
}



/*BOTONES*/
.contenedor_botones-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* nuevo */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    margin-bottom: 30px;
}
.botones_encriptadores {
    /*grid-column: 1 / 2;
    grid-row: 2 / 3;*/
    display: flex;
    
}
/*Responsive botones encriptadores*/
@media (max-width: 768px) {
    .botones_encriptadores {
        grid-row: 2 / 3;
        width: 97%;
        margin: 0 auto;
    }
}

@media (max-width: 390px) {
    .botones_encriptadores {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.boton_enncriptar {
	width: 50%;
    height: auto;
	/*max-width: 328px;
	min-width: 160px;*/
	height: 67px;
	font-size: 16px;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--blue);
	background: var(--blue);
	color: var(--white);
    transition: 1s all;
}
.boton_enncriptar:hover {
    background: var(--darkBlue);
}

.boton_desenncriptar {
	width: 50%;
    height: auto;
	/*max-width: 328px;
	min-width: 160px;*/
	height: 67px;
	font-size: 16px;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--blue);
	background: var(--blue);
	color: var(--white);
    background: var(--2lightBlue);
	color: var(--blue);
    margin-left: 20px;
}
.boton_desenncriptar {
	
}

.boton_copiar {
	width: 100%;
	max-width: 328px;
	min-width: 160px;
	height: 67px;
	font-size: 16px;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--blue);
	background: var(--blue);
	color: var(--white);
}
@media (max-width: 768px) {
    .boton_enncriptar,
    .boton_desenncriptar,
    .boton_copiar {
        width: 100%;
        max-width: 100%;
        height: 67px;
	    /*min-width: 100%;*/
        /*height: 90%;*/
        fon-size: 24px;
        /*font-size: 50px;*/
    }
    .boton_copiar {
        margin: 0 15%;
    }
}
@media (max-width: 390px) {
    .boton_enncriptar,
    .boton_desenncriptar,
    .boton_copiar {
        display: block;
    }
    .boton_desenncriptar {
        margin: 8% 0px 0px 0px;
    }
}




.contenedor_copiar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.boton_copiar{
	background: none;
	color: var(--blue);
	width: 100%;
	min-width: 100px;
    margin-bottom: 28px;
}

.boton_desenncriptar, .boton_copiar:hover {
    cursor: pointer;
}

.ocultar_boton-copiar {
    display: none;
}


/*Información*/
.info_exclamacion {
	text-align: left;
    font-family: var(--fuentePrincipal);
	/*font-size: 12px;*/
	color: var(--grey);
    margin: 0 0 10px;
    /*margin-top: auto;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: end;
    margin: 0px 0px 2% 240px;*/
}
/*Responsive información*/
@media (max-width: 768px) {
    .info_exclamacion {
        /*grid-row: 2 / 3;*/
        width: 100%;
        margin: 0px 2% 10% 2%;
        font-size: 16px;
    }
}

.info img {
    width: 100%;
}



/*Contenedor derecho*/
#contenedor_right {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 40px 40px 0px 0px;
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
    display: flex;
    flex-direction: column;
}
/*Responsive contenedor derecho*/
@media (max-width: 768px) {
    #contenedor_right {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 40px 30px 0px 30px;
    }
}

#resultado_final {
    width: 90%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.toy {
    width: 100%;
    margin: 50% auto 15%;
}

.resultado_texto {
	/*width: 100%;*/
	font-size: 30px;
	color: var(--greyDark);
	border: none;
	outline: none;
	text-align: center;
	overflow: hidden;
	resize: none;
	pointer-events: none;
	font-family: var(--fuentePrincipal);
}
.resultado_texto::placeholder{
	color: var(--greyDark);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    width: 100%;
    height: auto;
    
}

.resultado_informativo {
    width: 90%;
    margin: 0 auto;
}
.resultado_informativo p {
    margin: 0 auto;
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    color: var(--greyDark);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
@media (max-width: 768px) {
    .resultado_informativo p{
        font-size: 16px;
        margin-bottom: 5%;
    }
}
@media (max-width: 768px) {
    #resultado_final {
        /*width: 50%;
        margin: 30px auto;*/
        font-size: 29px; 
    }
    .ocultar_toy, .toy {
        display: none;
    }
    .resultado_texto {
        /*margin: 0 auto;
        font-size: 40px;*/
    }
}
    


/*FOOTER*/
#pie {
    width: 100%;
}
#pie p {
    font-family: var(--fuentePrincipal);
    color: var(--grey);
    text-align: center;
    margin: 2%
}

@media (max-width: 768px) {
    #pie, 
    #pie p{
        font-size: 14px;
    }
}
@media (max-width: 390px) {

    }
}

